body {
    padding: 70pt;
    font-family: 'Noto Sans TC', sans-serif;
}

.container {
    position: relative;
    text-align: center;
    width: 375pt;
    height: 667pt;
    margin: 0 auto;
    overflow: hidden;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

#topic:first-of-type img {
    position: absolute;
    top: 117pt;
    left: 36pt;
    width: 288pt;
}

#topic:last-of-type img {
    position: absolute;
    top: 138pt;
    left: 44pt;
    width: 288pt;
}

#text {
    font-size: 14pt;
    line-height: 16pt;
    position: absolute;
    top: 373pt;
    left: 65pt;
    color: rgb(74, 74, 74);
    font-weight: 300;
}

#text .title {
    font-size: 23pt;
    font-weight: 400;
}

#page {
    position: absolute;
    top: 494pt;
    left: 180pt;
}

#button {
    position: absolute;
    top: 547pt;
    left: 46pt;
    border-radius: 21.5pt;
    height: 43pt;
    width: 285pt;
    background: linear-gradient(90deg, rgb(255, 120, 171) 10%, rgb(255, 143, 94)90%);
    color: white;
    text-align: center;
    line-height: 43pt;
}

.swiper-pagination {
    position: absolute;
    top: 494pt;
}

.swiper-pagination-bullet {
    height: 6pt;
    width: 6pt;
    border-radius: 6pt;
    background-color: #f5ece8;
}

.swiper-pagination-bullet.active {
    background-color: #bdb5b2;
}

@media screen and (min-width:760px) {}