body {
    font-family: 'Noto Sans TC', sans-serif;
    width: 100%;
    -webkit-user-select: none;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0 auto;
}

#page1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}

#page2 {
    display: none;
    position: absolute;
    width: 100vw;
    left: 100%;
    top: 0;
    height: 100vh;
    display: none;
}

#page1 img {
    position: absolute;
    top: 117px;
    left: 36px;
    width: 288px;
}

#page1 .page1 {
    position: absolute;
    left: 180px;
    top: 494px;
    background-color: rgb(189, 181, 178);
    width: 6px;
    height: 6px;
    border-radius: 6px;
}

#page1 .page2 {
    position: absolute;
    left: 190px;
    top: 494px;
    background-color: rgb(245, 236, 232);
    width: 6px;
    height: 6px;
    border-radius: 6px;
}

#page2 .page1 {
    position: absolute;
    left: 180px;
    top: 494px;
    background-color: rgb(245, 236, 232);
    width: 6px;
    height: 6px;
    border-radius: 6px;
}

#page2 .page2 {
    position: absolute;
    left: 190px;
    top: 494px;
    background-color: rgb(189, 181, 178);
    width: 6px;
    height: 6px;
    border-radius: 6px;
}

#page2 img {
    position: absolute;
    top: 138px;
    left: 44px;
    width: 288px;
}

#text {
    font-size: 14px;
    line-height: 16px;
    position: absolute;
    top: 373px;
    left: 65px;
    color: rgb(74, 74, 74);
    font-weight: 300;
}

#text .title {
    text-align: center;
    font-size: 23px;
    font-weight: 400;
}

#page {
    position: absolute;
    top: 494px;
    left: 180px;
}

#button {
    position: absolute;
    top: 547px;
    left: 46px;
    border-radius: 21.5px;
    height: 43px;
    width: 285px;
    background: linear-gradient(90deg, rgb(255, 120, 171) 10%, rgb(255, 143, 94)90%);
    color: white;
    text-align: center;
    line-height: 43px;
}

.swiper-pagination {
    position: absolute;
    top: 494px;
}

.swiper-pagination-bullet {
    height: 6px;
    width: 6px;
    border-radius: 6px;
    background-color: #f5ece8;
}

.swiper-pagination-bullet.active {
    background-color: #bdb5b2;
}

@media screen and (min-width:760px) {}